

body {
    font-family: Hey Comic;
    margin: 0;
    text-align: center;
    background: url(../img/fondo.png) center no-repeat;
}

@font-face {
    font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}

a {
    font-family: Hey Comic;
    color: white;
    font-size: 25px;    
    text-decoration: none;
}
header {
    display: flex;
    height: 118px;
    background-color:  #52b0e4;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
}

.logod {
display: flex;
align-items: center;
}

.logod img {
    height: 110px;
    margin-right: 10px;
    padding-left: 130px;
}

nav a {
    padding-right: 50px;
}
footer {
    display: flex;
    height: 118px;
    position: relative;
    background-color:  #52b0e4;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
}
.redes img {
    height: 45px;
    padding-right: 100px;
}
.banner_principal img {
    height: 1000px;
    width: 100%;
}
.hueso img{
   width: 1450px;
   height: 250px;
   text-align: center;
}
.banner_2 img {
    height: 750px;
    width: 100%;
}
.contenedor {
    background-color: #52b0e4;
    height: 620px;
    width: 1360px;
    margin: 25px 25px 25px 25px;
    background-image: url(../img/perro\ banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding-left: 66px;
    position: relative;
    left: 225px; 
}
.contenedor {
    background-color: #54eba3 ;
    height: 620px;
    width: 1360px;
    margin: 25px 25px 25px 25px;
    background-image: url(../img/gato\ banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    padding-left: 66px; 
    animation: banner 10s infinite;
}
@keyframes banner {
    0%, 50% {
        background-image: url(../img/perro\ banner.png);
    }
    55%, 100% {
        background-image: url(../img/gato\ banner.png);
    }
}
.contenedor2 {
    background-color: #54eba3;
    height: 1200px;
    width: 1950x;
    background-image: url(../img/bangp.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}
.tittle_principal h1{
    border-radius: 20px;
    background-color: #27a3a9;
    width: 450px;
    height: 93px;
    text-align: center;
    font-size: 60px;
    color: white;
    position: relative;
    left: 720px;
}
.texto_servicios h1{
    border-radius: 20px;
    background-color: #007423;
    width: 800px;
    height: 280px;
    text-align: center;
    font-size: 60px;
    color: white;
    position: relative;
    left: 550px;
}
.contenedor_testimonial1 {
        display: flex;
        align-items: center;
        background-color: #3b9c74;
        border-radius: 20px;
        padding: 20px;
        width: 1200px;
        height: 300px;
        left: 325px;
        position: relative;
        color: white;
        font-size: 28px;   
        
        }
.testimonial_foto1 img{ 
    background: lightblue;
    border-radius: 50%;
    width: 400px;
    height: 400px;
    position: relative;
    right: 100px;
}
.tittle1 {
    background-color: #27a3a9;
    width: 500px;
    padding: 20px 20px;
    border-radius: 10px 10px 0 0;
    color:white;
    padding-top: 20px;
    text-align: center;
    align-items: center;
    position: relative;
    left: 550px;
    font-size: 27px;
}
.contenedor_testimonial2 {
    display: flex;
    text-align: left;
    align-items: center;
    background-color: #3b9c74;
    border-radius: 20px;
    padding: 20px;
    width: 1200px;
    height: 300px;
    right: -330px;
    position: relative;
    color: white;
    font-size: 28px;   
    
    }
.testimonial_foto2 img{ 
background: lightblue;
border-radius: 50%;
width: 400px;
height: 400px;
position: relative;
left: 900px;
bottom: 270px;

}
.texto_testimonial {
    text-align: left;
    align-items: center;
    position: relative;
    padding-right: 299px;
    margin-top: 250px;
    top: 70px;
}
.tittle2 {
background-color: #27a3a9;
width: 500px;
padding: 20px 20px;
border-radius: 10px 10px 0 0;
color:white;
padding-top: 20px;
text-align: center;
align-items: center;
position: relative;
left: 800px;
font-size: 27px;
}
.contenedor_servicios {
    background-color:  #53b3eb ;    
    color: black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 1200px;
    height: 260px;
    position: relative;
    left: 325px;

}
.contenedor_servicios img {
    width: 350px;
    height: 245px;
    position: relative;
    right: 360px;
}
.contenedor_servicios h2 {
    margin: 10px 0; 
    font-size: 30px;
    position: relative;
    padding-left: 220px;
    color: white;
    bottom: 230px;
    left: 100px;
}
.contenedor_servicios p {
    font-size: 15px;
    position: relative;
    padding-left: 210px;
    bottom: 180px;
    left: 100px;
}
.ultimo_banner img{
    height: 1000px;
    width: 1850px;
    align-items: center;
    position: relative;
    left: 55px;
    top: 70px;
    

 }
 .contactanos-contenedor {
background-color: #6ec1e4;
padding: 20px;
border-radius: 10px;
width: 1000px;
position: relative;
left: 500px;
    font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');

}
.contactanos-contenedor h2 {
margin-top: 0;
color: white;
text-align: center;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor[type="text"],
.contactanos-contenedor[type="email"],
.contactanos-contenedor textarea {
width: calc(50% - 10px);
padding: 10px;
margin: 10px 0;
border: none;
border-radius: 5px;
font-size: 16px;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor input {
    width: calc(50% - 10px);
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    font-family: Hey Comic;
        src: url('Hey Comic.ttf') format('truetype');
    }
.contactanos-contenedor textarea[type="email"]{
    font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor input[type="text"]:first-child {
margin-right: 10px;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor textarea {
width: 100%;
height: 100px;
resize: none;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor .buttons {
display: flex;
justify-content: space-between;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor button {
width: 48%;
padding: 10px;
border: none;
border-radius: 5px;
font-size: 16px;
cursor: pointer;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor button.clear {
background-color: #34a853;
color: white;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.contactanos-contenedor button.submit {
background-color: #34a853;
color: white;
font-family: Hey Comic;
    src: url('Hey Comic.ttf') format('truetype');
}
.perra_banner img{
    height: 1000px;
    width: 1350px;
    align-items: center;
    position: relative;
    left: 55px;
    padding-right: 100px;
 }